[submodule "Submodules/Reachability"]
	path = Submodules/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "Submodules/PSUpdateApp"]
	path = Submodules/PSUpdateApp
	url = https://github.com/danielebogo/PSUpdateApp.git
