[submodule "Submodules/Reachability"]
	path = Submodules/Reachability
	url = https://github.com/tonymillion/Reachability.git
[submodule "Submodules/SVProgressHUD"]
	path = Submodules/SVProgressHUD
	url = https://github.com/samvermette/SVProgressHUD.git
[submodule "Submodules/ShareKIT"]
	path = Submodules/ShareKIT
	url = https://github.com/ShareKit/ShareKit.git
